body {
	background-color: fff;
	font-family: futura;
}

h1 {
	font-family: futura;
	font-size: 48px;
	color: 000;
	text-align: center;
}

h2 {
	font-family: futura;
	font-size: 28px;
	color: 000;
	text-align: center;
	}

p {
	color: 000;
  font-family: futura;
  font-weight: thin;
  font-size: 16px;
}

ul {
	color: 000;
	font-size: 12px;
}
