body {
	background-color: fff;
	font-family: futura;
}

h1 {
	font-family: futura;
	font-size: 48px;
	color: 000;
	text-align: center;
}

h2 {
	font-family: futura;
	font-size: 28px;
	color: 000;
	text-align: center;
	}

p {
	color: 000;
  font-family: futura;
  font-weight: thin;
  font-size: 16px;
}

ul {
	color: 000;
	font-size: 12px;
}

header {
    background-color: #ffed74;
    border: 1px black solid;
    padding: 20px;
}

nav {
    background-color: #e8c66a;
    border: 1px black solid;
    padding: 20px;
}

aside {
	float: left;
    background-color: #ffc675;
    border: 1px black solid;
    padding: 20px;
}

article {
    background-color: #e89c6c;
    border: 1px black solid;
    padding: 20px;
}

footer {
    background-color: #ff957e;
    border: 1px black solid;
    padding: 20px;
}

div {
    background-color: #ffe2b8;
    border: 1px black solid;
    padding: 20px;
}

